.container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    max-width: 80%;
    margin-left: auto;
}

.message {
    font-size: 15px;
    padding: 18px;
    background: var(--blue-lightest);
    border-radius: 10px;
    outline: transparent solid 1px;
    border: 1px solid var(--blue-light);
}

@media screen and (max-width: 600px) {
    .message {
        font-size: 14px;
        padding: 15px;
    }
}
