.questionInputContainer {
    border-radius: 10px;
    box-shadow:
        0 4px 6px -1px #0000000d,
        0 2px 4px -2px #00000005;
    height: 90px;
    width: 100%;
    padding: 15px;
    background: white;
    border: 1px solid #d1dbf9;
    transition: all 0.2s ease-in-out;
}

.questionInputTextArea {
    width: 100%;
    line-height: 40px;
    font-size: 16px !important;
}

.questionInputButtonsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
