.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chatRoot {
    flex: 1;
    display: flex;
    overflow: hidden;
}

.chatContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.chatEmptyState {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1028px;
    max-height: 1024px;
    padding-top: 50px;
    text-align: center;
}

.chatEmptyStateTitle {
    font-size: 4rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
}

.chatEmptyStateSubtitle {
    font-weight: 600;
    margin-bottom: 10px;
}

@media only screen and (max-height: 780px) {
    .chatEmptyState {
        padding-top: 0;
    }

    .chatEmptyStateTitle {
        font-size: 3rem;
        margin-bottom: 0px;
    }
}

.chatMessageStream {
    flex-grow: 1;
    max-height: 80vh;
    max-width: 1028px;
    width: 100%;
    overflow-y: auto;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    padding-top: 24px;
}

.chatMessageGpt {
    margin-bottom: 20px;
    max-width: 80%;
    display: flex;
}

@media screen and (max-width: 600px) {
    .chatMessageGpt {
        max-width: 100%;
    }
}

.chatMessageGptMinWidth {
    max-width: 500px;
    margin-bottom: 20px;
}

.chatInput {
    position: sticky;
    bottom: 0;
    flex: 0 0 100px;
    padding-top: 12px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    max-width: 1028px;
}

.chatAnalysisPanel {
    flex: 1;
    overflow-y: auto;
    max-height: 89vh;
    margin-left: 20px;
    margin-right: 20px;
    flex: 1;
    max-width: 800px;
    width: 100%;
    padding-right: 40px;
}

.chatAnalysisPanelWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 700px;
    flex: 1;
}

.chatSettingsSeparator {
    margin-top: 15px;
}

.loadingLogo {
    font-size: 28px;
}

.commandsContainer {
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--blue-dark);
    transition: all 0.2s ease-in-out;
}

.logo {
    height: 30px;
    width: auto;
    margin: 0px;
    border: none;
    margin-left: 20px;
    border-radius: 0px;
    cursor: pointer;
}

.commandButtons {
    display: flex;
    padding-top: 20px;
}

.commandButton {
    margin-right: 20px;
    margin-bottom: 20px;
    color: white;
}

.closeAnalysisPanelButton {
    margin-top: 20px !important;
    align-self: flex-end;
}

.configSelector {
    gap: 8px !important;
    background-color: white !important;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.configButton {
    padding: 10px !important;
    border-radius: 8px !important;
    width: 150px;
    gap: 5px !important;
    font-size: 14px !important;
}

.configButton:hover {
    color: var(--blue-main);
}

@media screen and (max-width: 800px) {
    .chatEmptyState {
        padding-top: 85px;
    }
    .commandsContainer {
        position: fixed;
    }
    .chatMessageStream {
        margin-top: 60px;
    }
    .chatInput {
        /* position: fixed; */
    }
    .configButton {
        width: 130px;
        padding: 7px 0px !important;
    }
    .chatAnalysisPanelWrapper {
        position: absolute;
        background: #f2f2f2;
        width: 100%;
        height: calc(100vh - 60px);
        flex: 1;
    }
    .chatAnalysisPanel {
        width: calc(100vw - 40px);
        padding-right: 0px;
    }
    .logo {
        height: 20px;
    }
}
