:root {
    --bg-main: #f2f2f2;
    --blue-dark: #023f88;
    --blue-main: #00bdf2;
    --blue-light: #b9e5fb;
    --blue-lightest: #e8f1fa;
    --orange-primary: #f58220;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: var(--bg-main);
    transition: all 0.2s ease-in-out;
}

html {
    font-family:
        "Montserrat",
        "Segoe UI",
        -apple-system,
        BlinkMacSystemFont,
        "Roboto",
        "Oxygen",
        "Ubuntu",
        "Cantarell",
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img,
.illustration {
    margin-top: 1rem;
    border-radius: 8px;
    border: 1px solid #e8e8e8;
    width: auto;
    max-width: 510px;
}

@media screen and (max-width: 800px) {
    img,
    .illustration {
        max-width: 100%;
    }
}

#root {
    height: 100%;
}
