.examplesNavList {
    list-style: none;
    padding-left: 24px;
    padding-right: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    width: 100%;
    max-width: 700px;
    margin-bottom: 5px;
}

.example {
    word-break: break-word;
    background: #ffffff;
    border-radius: 10px;
    padding: 0px 15px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: #4e6a9e;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 56px;
    text-align: left;
}

.example:hover {
    color: #7fa0df;
    transform: scale(1.02);
}

.exampleText {
    font-size: 14px;
}

@media only screen and (max-width: 600px) {
    .examplesNavList {
        width: 100%;
    }
    .example {
        width: 100%;
        font-size: 11px !important;
    }
}
