.examplesNavList {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex: 1;
    justify-content: center;
}

.example {
    word-break: break-word;
    background: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 5px;
    cursor: pointer;
    box-shadow:
        0 4px 6px -1px #0000000d,
        0 2px 4px -2px #00000005;
    border: 1px solid #fff;
    transition: all 0.2s ease-in-out;
    color: #666666;
}

.example:hover {
    border: 1px solid #7476e1;
    background: white;
    color: black;
}

.exampleText {
    margin: 0;
    font-size: 16px;
    width: 280px;
    height: 100px;
}

@media only screen and (max-height: 780px) {
    .exampleText {
        font-size: 20px;
        height: 80px;
    }
}
